.vscode-ctags/
.vscode-ctags
*.pro.user
tags
*.pro.user.*
.vscode/
.vscode-ctags/
nohup.out
peony-build-deps_*.deb
peony-build-deps_*.buildinfo
peony-build-deps_*.changes
*.o
moc_*.cpp
moc_*.h
*.so.*
*.so
peony
peony-qt-desktop
.qm/
.qmake.*
debian/
Makefile
qrc_*
ui_*.h
*.qss
